# Ignore all data files
.Rproj.user/*
.Rhistory/*
.RData/*
*.csv
*.xlsx
*.rds
*.RData
*.Rout
README.txt
*.pptx
*.pdf
renv/*
.DS_Store
*.png

# Ignore all debugging and temporary files 
logs/*
temp/*
cache/*

# Specific directories
R_files/*
data/*
results/*
plots/*
tables/*
reports/*
old/*
.Rproj.user
